
body {
    width: 95%;
    height: 97%;
    background: url('./Imagem.avif') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    text-align: center;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-shadow: 2px 2px 4px #ffcc00;
}
h2{
    font-size: 1.5rem;
    color: #ffd700;
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 2px solid #ffd700;
}

button{
    background-color: #ffd700; /* Golden color for buttons */
    color: #000;
    border: none;
    padding: .5rem;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type=number] {
    width: 2.5rem;
    text-align: center;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 1rem;
}

.categoria {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px;
    background-color: #80808090;
    border-radius: 30px;
    margin: 1rem;
}

.nome-item {
    justify-self: left;
}

.quantidade-item {
    justify-self: center;
}

.preco-item {
    justify-self: right;
}

.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: .5rem .5rem;
    color: #fff;
    min-width: max-content;
}

.quantidade-item {
    display: flex;
}



#botaofinalizar {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .item {
        min-width: 10px;
        font-size: 12px;
    }
}